/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_setting.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_header.scss */
.global__header {
  border-bottom: 1px #cccccc solid;
  background-color: white;
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 999;
  padding-bottom: 10px;
  width: calc(100% - 40px);
  margin: 0 20px;
}
/* line 9, ../scss/_header.scss */
.global__header::before {
  content: "";
  background-color: white;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20px;
}
/* line 18, ../scss/_header.scss */
.global__header::after {
  content: "";
  background-color: white;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px;
}

/* line 29, ../scss/_header.scss */
.logo {
  display: inline-block;
  float: left;
}

/* line 33, ../scss/_header.scss */
.logo__name {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 41px;
  font-weight: bold;
  padding: 10px 0 17px 0;
}
/* line 36, ../scss/_header.scss */
.logo__name a {
  color: #1a1a1a;
}
/* line 38, ../scss/_header.scss */
.logo__name a:hover {
  color: #f15a24;
}

/* line 43, ../scss/_header.scss */
.logo__tag {
  color: gray;
  font-size: 17px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2.3px;
  margin-top: -17px;
  padding-left: 2.3px;
}

/* line 48, ../scss/_header.scss */
.navigation {
  position: absolute;
  bottom: 10px;
  right: 0;
  float: right;
}

/* line 52, ../scss/_header.scss */
.navigation__item {
  float: left;
  margin: 0 6.5px;
}

/* line 57, ../scss/_header.scss */
.navigation__item__icon, .navigation__item--selected .navigation__item__icon {
  width: 17px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 63, ../scss/_header.scss */
.navigation__item__name, .navigation__item--selected .navigation__item__name {
  display: inline-block;
  vertical-align: middle;
  color: gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
/* line 66, ../scss/_header.scss */
.navigation__item__name:hover {
  color: #1a1a1a;
}

/* line 71, ../scss/_header.scss */
.navigation__item--selected .navigation__item__icon {
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 76, ../scss/_header.scss */
.navigation__item--selected .navigation__item__name {
  color: #f15a24;
}

@media (max-width: 768px) {
  /* line 83, ../scss/_header.scss */
  .logo__name {
    font-size: 30px;
  }
}
@media (max-width: 640px) {
  /* line 88, ../scss/_header.scss */
  .global__header {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
  /* line 91, ../scss/_header.scss */
  .global__header::before {
    width: 10px;
    left: -10px;
  }
  /* line 95, ../scss/_header.scss */
  .global__header::after {
    width: 10px;
    right: -10px;
  }

  /* line 100, ../scss/_header.scss */
  .navigation__item__icon, .navigation__item--selected .navigation__item__icon {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 105, ../scss/_header.scss */
  .global__header {
    position: inherit;
  }

  /* line 108, ../scss/_header.scss */
  .logo {
    width: 80%;
  }

  /* line 111, ../scss/_header.scss */
  .logo__name {
    font-size: 41px;
  }

  /* line 114, ../scss/_header.scss */
  .navigation {
    position: inherit;
    width: 20%;
    padding-top: 10px;
  }
  /* line 118, ../scss/_header.scss */
  .navigation .navigation__item {
    float: right;
  }
  /* line 121, ../scss/_header.scss */
  .navigation .navigation__item__icon {
    display: none;
  }
  /* line 124, ../scss/_header.scss */
  .navigation .navigation__item__name {
    line-height: 24.6988px;
  }
}
/* line 4, ../scss/_portfolio.scss */
#container li {
  opacity: 0;
}

/* line 8, ../scss/_portfolio.scss */
#container li.shown {
  opacity: 1;
}

/* line 12, ../scss/_portfolio.scss */
#container li.animate {
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
  /* line 20, ../scss/_portfolio.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 24, ../scss/_portfolio.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 28, ../scss/_portfolio.scss */
  to {
    opacity: 1;
  }
}

/* line 30, ../scss/_portfolio.scss */
html {
  background-color: white;
}

/* line 33, ../scss/_portfolio.scss */
body {
  background-color: white;
}

/* line 36, ../scss/_portfolio.scss */
a {
  color: initial;
}

/* line 39, ../scss/_portfolio.scss */
figcaption {
  position: relative;
}

/* line 42, ../scss/_portfolio.scss */
.up {
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 999;
  padding: 4px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.8);
  background-image: url("../icon/up_white.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 48, ../scss/_portfolio.scss */
.up:hover {
  background-color: gray;
  background-image: url("../icon/up_white.png");
}

/* line 53, ../scss/_portfolio.scss */
.portfolio__item {
  float: left;
  background-clip: content-box;
}
/* line 56, ../scss/_portfolio.scss */
.portfolio__item:hover {
  background-color: #f2f2f2;
}
/* line 58, ../scss/_portfolio.scss */
.portfolio__item:hover figcaption {
  border-bottom: #cccccc 1px solid;
}
/* line 61, ../scss/_portfolio.scss */
.portfolio__item:hover .portfolio__item__zoom {
  display: initial;
}
/* line 64, ../scss/_portfolio.scss */
.portfolio__item:hover .portfolio__item__title, .portfolio__item:hover .portfolio__item__data, .portfolio__item:hover .portfolio__item__price {
  color: #1a1a1a;
}

/* line 69, ../scss/_portfolio.scss */
.portfolio__item__image {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 74, ../scss/_portfolio.scss */
.portfolio__item__zoom {
  position: absolute;
  top: -30px;
  right: 10px;
  display: none;
}

/* line 79, ../scss/_portfolio.scss */
.portfolio__item__title {
  padding: 5px;
  color: gray;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 83, ../scss/_portfolio.scss */
.portfolio__item__data {
  padding: 0 5px;
  color: gray;
  margin-top: -5px;
  font-size: 17px;
  font-variant: small-caps;
}
/* line 86, ../scss/_portfolio.scss */
.portfolio__item__data span {
  font-size: 13px;
}

/* line 91, ../scss/_portfolio.scss */
.portfolio__item__price {
  padding: 5px;
  color: gray;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  font-style: italic;
  text-align: right;
}

@media (min-width: 1680px) {
  /* line 97, ../scss/_portfolio.scss */
  .portfolio__item__title {
    font-size: 23px;
    padding: 10px;
  }

  /* line 101, ../scss/_portfolio.scss */
  .portfolio__item__data {
    font-size: 23px;
    padding: 0 10px;
    margin-top: -10px;
  }

  /* line 105, ../scss/_portfolio.scss */
  .portfolio__item__price {
    font-size: 17px;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  /* line 112, ../scss/_portfolio.scss */
  .portfolio, .interior, .resume, #interior__container {
    padding: 10px;
  }

  /* line 116, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 10px;
    width: calc(100%/4);
  }
}
@media (max-width: 1024px) {
  /* line 123, ../scss/_portfolio.scss */
  .portfolio, .interior, .resume, #interior__container {
    padding: 10px;
  }

  /* line 127, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 10px;
    width: calc(100%/3);
  }
}
@media (max-width: 768px) {
  /* line 134, ../scss/_portfolio.scss */
  .portfolio, .interior, .resume, #interior__container {
    padding: 10px;
  }

  /* line 138, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 10px;
    width: calc(100%/2);
  }
}
@media (max-width: 640px) {
  /* line 148, ../scss/_portfolio.scss */
  .portfolio, .interior, .resume, #interior__container {
    padding: 5px;
  }

  /* line 152, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 5px;
    width: calc(100%/1);
  }
}
@media (max-width: 320px) {
  /* line 160, ../scss/_portfolio.scss */
  .portfolio, .interior, .resume, #interior__container {
    padding: 5px;
  }

  /* line 164, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 5px;
    width: calc(100%/1);
  }
}
/* line 1, ../scss/_interior.scss */
.interior {
  background-color: #1a1a1a;
}
/* line 3, ../scss/_interior.scss */
.interior::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

/* line 12, ../scss/_interior.scss */
.interior__item__title {
  color: gray;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 10px 10px;
}

/* line 16, ../scss/_interior.scss */
#interior__item__image {
  max-width: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

/* line 21, ../scss/_interior.scss */
.back {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
  width: 40px;
  height: 40px;
  background-color: rgba(26, 26, 26, 0.8);
  background-image: url("../icon/back_gray.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 27, ../scss/_interior.scss */
.back:hover {
  background-color: #1a1a1a;
  background-image: url("../icon/back_gray.png");
}

/* line 32, ../scss/_interior.scss */
#next, #previous {
  text-align: center;
  width: 41px;
  height: 82px;
  background-color: rgba(26, 26, 26, 0.8);
  position: fixed;
  top: calc(50% - 40px);
  right: 20px;
  background-image: url("../icon/next_gray.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 38, ../scss/_interior.scss */
#next:hover, #previous:hover {
  background-color: #1a1a1a;
  background-image: url("../icon/next_gray.png");
}

/* line 43, ../scss/_interior.scss */
#previous {
  background-image: url("../icon/previous_gray.png");
  background-position: center;
  background-repeat: no-repeat;
  left: 20px;
}
/* line 47, ../scss/_interior.scss */
#previous:hover {
  background-image: url("../icon/previous_gray.png");
}

@media (max-width: 640px) {
  /* line 52, ../scss/_interior.scss */
  .back {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* line 55, ../scss/_interior.scss */
  .interior__item__title {
    font-size: 17px;
  }

  /* line 58, ../scss/_interior.scss */
  #next, #previous {
    top: calc(50% - 30px);
    height: 60px;
    width: 30px;
    right: 10px;
  }

  /* line 63, ../scss/_interior.scss */
  #previous {
    top: calc(50% - 30px);
    height: 60px;
    width: 30px;
    left: 10px;
  }
}
/* line 2, ../scss/_resume.scss */
body {
  background-color: white;
}

/* line 6, ../scss/_resume.scss */
.resume {
  padding: 20px;
  width: 100%;
  display: inline-block;
}

/* line 12, ../scss/_resume.scss */
.resume__navigation {
  width: 25%;
  display: inline-block;
  border-right: 1px solid gray;
  margin-top: 30px;
  position: fixed;
  left: 0;
}
/* line 17, ../scss/_resume.scss */
.resume__navigation a {
  color: gray;
}
/* line 19, ../scss/_resume.scss */
.resume__navigation a:hover {
  color: #1a1a1a;
}

/* line 25, ../scss/_resume.scss */
.resume__navigation__item {
  font-size: 17px;
  text-align: right;
  letter-spacing: 0.5px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 5px;
}

/* line 31, ../scss/_resume.scss */
.resume__navigation__item--selected a {
  color: #f15a24;
}

/* line 36, ../scss/_resume.scss */
.resume__container {
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 75%;
  float: right;
  padding-left: 10px;
}

/* line 42, ../scss/_resume.scss */
.resume__category {
  display: inline-block;
}

/* line 46, ../scss/_resume.scss */
.resume__category__header {
  color: #f15a24;
  font-size: 60px;
  font-weight: bold;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/* line 50, ../scss/_resume.scss */
.resume__category__description {
  color: gray;
  font-size: 17px;
  line-height: 30px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 30px;
}

/* line 54, ../scss/_resume.scss */
.sub-title {
  color: gray;
  font-size: 23px;
  line-height: 30px;
  font-style: italic;
  border-bottom: 1px solid #cccccc;
}

/* line 58, ../scss/_resume.scss */
.sub-title--private_collection {
  padding-top: 17px;
}

/* line 61, ../scss/_resume.scss */
.resume__item {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  line-height: 19.5px;
  color: #1a1a1a;
  letter-spacing: 0.5px;
  padding: 6.5px 0;
}

/* line 68, ../scss/_resume.scss */
.resume__item--list {
  font-size: 17px;
  list-style: square inside none;
}

/* line 74, ../scss/_resume.scss */
.resume__item--link:hover {
  color: #f15a24;
}

/* line 78, ../scss/_resume.scss */
.resume__item--collections--private {
  font-style: italic;
}

/* line 81, ../scss/_resume.scss */
.resume__item--exhibition--type {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 25%;
}

/* line 85, ../scss/_resume.scss */
.resume__item--exhibition--details {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 50%;
}

/* line 89, ../scss/_resume.scss */
.resume__item--exhibition--location {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 25%;
  text-align: right;
}

/* line 94, ../scss/_resume.scss */
.resume__item--publications--year, .resume__item--teaching--year {
  color: gray;
  font-size: 17px;
  line-height: 34px;
  font-style: italic;
}

/* line 97, ../scss/_resume.scss */
.resume__item--publications--content, .resume__item--teaching--content {
  font-size: 17px;
}

@media (max-width: 640px) {
  /* line 104, ../scss/_resume.scss */
  .resume__navigation__item {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  /* line 110, ../scss/_resume.scss */
  .resume__navigation__item {
    display: none;
  }

  /* line 113, ../scss/_resume.scss */
  .resume__container {
    margin-left: 0;
    padding-left: 0px;
    width: 100%;
  }

  /* line 117, ../scss/_resume.scss */
  .resume__category {
    margin-left: 0;
    padding-left: 0px;
  }
}
/* line 8, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 13, ../scss/style.scss */
a {
  text-decoration: none;
}

@media (min-width: 768px) {
  /* line 18, ../scss/style.scss */
  .portfolio, .resume, .anchor {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  /* line 23, ../scss/style.scss */
  .portfolio, .resume, .anchor {
    padding-top: 80px;
  }
}
@media (max-width: 640px) and (min-width: 480px) {
  /* line 28, ../scss/style.scss */
  .portfolio, .resume, .anchor {
    padding-top: 73px;
  }
}
@media (max-width: 480px) {
  /* line 33, ../scss/style.scss */
  .portfolio, .resume, .anchor {
    padding-top: 5px;
  }
}
