/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_setting.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_header.scss */
.global__header {
  position: relative;
  border-bottom: 1px #ccc solid;
}

/* line 5, ../scss/_header.scss */
.logo {
  float: left;
  width: 100%;
}

/* line 9, ../scss/_header.scss */
.logo__name {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 41px;
  font-weight: bold;
  padding: 17px 0;
}
/* line 12, ../scss/_header.scss */
.logo__name a {
  color: #1a1a1a;
}
/* line 14, ../scss/_header.scss */
.logo__name a:hover {
  color: #f15a24;
}

/* line 19, ../scss/_header.scss */
.logo__tag {
  color: gray;
  font-size: 17px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2.3px;
  margin-top: -17px;
  padding-left: 2.3px;
}

/* line 24, ../scss/_header.scss */
.navigation {
  float: right;
  text-align: center;
}

/* line 28, ../scss/_header.scss */
.navigation__item, .navigation__item--selected {
  float: left;
  padding-left: 13px;
}

/* line 35, ../scss/_header.scss */
.navigation__item__icon, .navigation__item__icon--selected {
  width: 17px;
  padding-bottom: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
}

/* line 42, ../scss/_header.scss */
.navigation__item__icon--selected {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 47, ../scss/_header.scss */
.navigation__item__name, .navigation__item__name--selected {
  color: #1a1a1a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 13px;
}
/* line 50, ../scss/_header.scss */
.navigation__item__name:hover, .navigation__item__name--selected:hover {
  color: #f15a24;
}

/* line 54, ../scss/_header.scss */
.navigation__item__name--selected {
  color: #f15a24;
}

@media (min-width: 768px) {
  /* line 60, ../scss/_header.scss */
  .global__header {
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  /* line 65, ../scss/_header.scss */
  .global__header {
    margin: 0 20px;
  }
}
@media (max-width: 640px) {
  /* line 70, ../scss/_header.scss */
  .global__header {
    margin: 0 10px;
  }

  /* line 73, ../scss/_header.scss */
  .navigation {
    padding-top: 13px;
  }
  /* line 75, ../scss/_header.scss */
  .navigation .navigation__item__icon, .navigation .navigation__item__icon--selected {
    display: none;
  }
}
@media (max-width: 320px) {
  /* line 81, ../scss/_header.scss */
  .global__header {
    margin: 0 10px;
    padding-bottom: 10px;
  }

  /* line 85, ../scss/_header.scss */
  .logo {
    width: 80%;
  }

  /* line 89, ../scss/_header.scss */
  .navigation {
    width: 20%;
    padding-top: 17px;
  }
  /* line 92, ../scss/_header.scss */
  .navigation .navigation__item, .navigation .navigation__item--selected {
    float: right;
  }
  /* line 95, ../scss/_header.scss */
  .navigation .navigation__item__icon, .navigation .navigation__item__icon--selected {
    display: none;
  }
}
/* line 1, ../scss/_setting.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../scss/_portfolio.scss */
#container li {
  opacity: 0;
}

/* line 7, ../scss/_portfolio.scss */
#container li.shown {
  opacity: 1;
}

/* line 11, ../scss/_portfolio.scss */
#container li.animate {
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
  /* line 19, ../scss/_portfolio.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 23, ../scss/_portfolio.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 27, ../scss/_portfolio.scss */
  to {
    opacity: 1;
  }
}

/* line 30, ../scss/_portfolio.scss */
a {
  color: initial;
}

/* line 33, ../scss/_portfolio.scss */
figcaption {
  position: relative;
}

/* line 36, ../scss/_portfolio.scss */
.portfolio__item {
  float: left;
  background-clip: content-box;
  color: #1a1a1a;
  line-height: 17px;
}
/* line 41, ../scss/_portfolio.scss */
.portfolio__item:hover {
  background-color: #f2f2f2;
}
/* line 43, ../scss/_portfolio.scss */
.portfolio__item:hover figcaption {
  border-bottom: #cccccc 1px solid;
}
/* line 46, ../scss/_portfolio.scss */
.portfolio__item:hover .portfolio__item__zoom {
  display: initial;
}

/* line 51, ../scss/_portfolio.scss */
.portfolio__item__image {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 56, ../scss/_portfolio.scss */
.portfolio__item__zoom {
  position: absolute;
  top: -30px;
  right: 10px;
  display: none;
}

/* line 61, ../scss/_portfolio.scss */
.portfolio__item__title {
  padding: 0px 5px;
  font-size: 17px;
  line-height: 34px;
  text-transform: uppercase;
}

/* line 65, ../scss/_portfolio.scss */
.portfolio__item__data {
  padding: 0 5px;
  font-size: 17px;
  line-height: 17px;
  font-variant: small-caps;
}
/* line 68, ../scss/_portfolio.scss */
.portfolio__item__data span {
  font-size: 13px;
}

/* line 73, ../scss/_portfolio.scss */
.portfolio__item__price {
  padding-right: 5px;
  font-size: 10px;
  line-height: 17px;
  text-transform: uppercase;
  font-style: italic;
  text-align: right;
}

@media (min-width: 1024px) {
  /* line 79, ../scss/_portfolio.scss */
  .portfolio {
    padding: 10px;
  }

  /* line 83, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 10px;
    width: calc(100%/4);
  }
}
@media (max-width: 1024px) {
  /* line 90, ../scss/_portfolio.scss */
  .portfolio {
    padding: 10px;
  }

  /* line 94, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 10px;
    width: calc(100%/3);
  }
}
@media (max-width: 768px) {
  /* line 101, ../scss/_portfolio.scss */
  .portfolio {
    padding: 10px;
  }

  /* line 105, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 10px;
    width: calc(100%/2);
  }
  /* line 108, ../scss/_portfolio.scss */
  #container .portfolio__item .portfolio__item__title {
    font-size: 13px;
    line-height: 13px;
  }
}
@media (max-width: 641px) {
  /* line 116, ../scss/_portfolio.scss */
  .portfolio {
    padding: 5px;
  }

  /* line 120, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 5px;
    width: calc(100%/1);
  }
}
@media (max-width: 320px) {
  /* line 128, ../scss/_portfolio.scss */
  .portfolio {
    padding: 5px;
  }

  /* line 132, ../scss/_portfolio.scss */
  #container .portfolio__item {
    padding: 5px;
    width: calc(100%/1);
  }
}
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_setting.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_header.scss */
.global__header {
  position: relative;
  border-bottom: 1px #ccc solid;
}

/* line 5, ../scss/_header.scss */
.logo {
  float: left;
  width: 100%;
}

/* line 9, ../scss/_header.scss */
.logo__name {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 41px;
  font-weight: bold;
  padding: 17px 0;
}
/* line 12, ../scss/_header.scss */
.logo__name a {
  color: #1a1a1a;
}
/* line 14, ../scss/_header.scss */
.logo__name a:hover {
  color: #f15a24;
}

/* line 19, ../scss/_header.scss */
.logo__tag {
  color: gray;
  font-size: 17px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2.3px;
  margin-top: -17px;
  padding-left: 2.3px;
}

/* line 24, ../scss/_header.scss */
.navigation {
  float: right;
  text-align: center;
}

/* line 28, ../scss/_header.scss */
.navigation__item, .navigation__item--selected {
  float: left;
  padding-left: 13px;
}

/* line 35, ../scss/_header.scss */
.navigation__item__icon, .navigation__item__icon--selected {
  width: 17px;
  padding-bottom: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
}

/* line 42, ../scss/_header.scss */
.navigation__item__icon--selected {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 47, ../scss/_header.scss */
.navigation__item__name, .navigation__item__name--selected {
  color: #1a1a1a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 13px;
}
/* line 50, ../scss/_header.scss */
.navigation__item__name:hover, .navigation__item__name--selected:hover {
  color: #f15a24;
}

/* line 54, ../scss/_header.scss */
.navigation__item__name--selected {
  color: #f15a24;
}

@media (min-width: 768px) {
  /* line 60, ../scss/_header.scss */
  .global__header {
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  /* line 65, ../scss/_header.scss */
  .global__header {
    margin: 0 20px;
  }
}
@media (max-width: 640px) {
  /* line 70, ../scss/_header.scss */
  .global__header {
    margin: 0 10px;
  }

  /* line 73, ../scss/_header.scss */
  .navigation {
    padding-top: 13px;
  }
  /* line 75, ../scss/_header.scss */
  .navigation .navigation__item__icon, .navigation .navigation__item__icon--selected {
    display: none;
  }
}
@media (max-width: 320px) {
  /* line 81, ../scss/_header.scss */
  .global__header {
    margin: 0 10px;
    padding-bottom: 10px;
  }

  /* line 85, ../scss/_header.scss */
  .logo {
    width: 80%;
  }

  /* line 89, ../scss/_header.scss */
  .navigation {
    width: 20%;
    padding-top: 17px;
  }
  /* line 92, ../scss/_header.scss */
  .navigation .navigation__item, .navigation .navigation__item--selected {
    float: right;
  }
  /* line 95, ../scss/_header.scss */
  .navigation .navigation__item__icon, .navigation .navigation__item__icon--selected {
    display: none;
  }
}
/* line 5, ../scss/_interior.scss */
.back {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../icon/back.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 11, ../scss/_interior.scss */
.back:hover {
  background-color: white;
  background-image: url("../icon/back_hover.png");
}

/* line 16, ../scss/_interior.scss */
#interior__container {
  padding: 20px;
}

/* line 19, ../scss/_interior.scss */
.interior__item__title {
  text-align: center;
  padding-top: 10px;
  color: #1a1a1a;
  font-size: 23px;
  line-height: 46px;
  text-transform: uppercase;
}

/* line 24, ../scss/_interior.scss */
#interior__item__image {
  max-width: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

/* line 29, ../scss/_interior.scss */
#next, #previous {
  text-align: center;
  width: 41px;
  height: 82px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: calc(50% - 40px);
  right: 20px;
  background-image: url("../icon/next.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 35, ../scss/_interior.scss */
#next:hover, #previous:hover {
  background-color: white;
  background-image: url("../icon/next_hover.png");
}

/* line 40, ../scss/_interior.scss */
#previous {
  background-image: url("../icon/previous.png");
  background-position: center;
  background-repeat: no-repeat;
  left: 20px;
}
/* line 44, ../scss/_interior.scss */
#previous:hover {
  background-image: url("../icon/previous_hover.png");
}

@media (max-width: 640px) {
  /* line 49, ../scss/_interior.scss */
  .back {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* line 52, ../scss/_interior.scss */
  #interior__container {
    padding: 10px;
  }

  /* line 55, ../scss/_interior.scss */
  .interior__item__title {
    font-size: 17px;
    line-height: 34px;
  }

  /* line 58, ../scss/_interior.scss */
  #next, #previous {
    top: calc(50% - 30px);
    height: 60px;
    width: 30px;
    right: 10px;
  }

  /* line 63, ../scss/_interior.scss */
  #previous {
    top: calc(50% - 30px);
    height: 60px;
    width: 30px;
    left: 10px;
  }
}
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_setting.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_header.scss */
.global__header {
  position: relative;
  border-bottom: 1px #ccc solid;
}

/* line 5, ../scss/_header.scss */
.logo {
  float: left;
  width: 100%;
}

/* line 9, ../scss/_header.scss */
.logo__name {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 41px;
  font-weight: bold;
  padding: 17px 0;
}
/* line 12, ../scss/_header.scss */
.logo__name a {
  color: #1a1a1a;
}
/* line 14, ../scss/_header.scss */
.logo__name a:hover {
  color: #f15a24;
}

/* line 19, ../scss/_header.scss */
.logo__tag {
  color: gray;
  font-size: 17px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2.3px;
  margin-top: -17px;
  padding-left: 2.3px;
}

/* line 24, ../scss/_header.scss */
.navigation {
  float: right;
  text-align: center;
}

/* line 28, ../scss/_header.scss */
.navigation__item, .navigation__item--selected {
  float: left;
  padding-left: 13px;
}

/* line 35, ../scss/_header.scss */
.navigation__item__icon, .navigation__item__icon--selected {
  width: 17px;
  padding-bottom: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
}

/* line 42, ../scss/_header.scss */
.navigation__item__icon--selected {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 47, ../scss/_header.scss */
.navigation__item__name, .navigation__item__name--selected {
  color: #1a1a1a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 13px;
}
/* line 50, ../scss/_header.scss */
.navigation__item__name:hover, .navigation__item__name--selected:hover {
  color: #f15a24;
}

/* line 54, ../scss/_header.scss */
.navigation__item__name--selected {
  color: #f15a24;
}

@media (min-width: 768px) {
  /* line 60, ../scss/_header.scss */
  .global__header {
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  /* line 65, ../scss/_header.scss */
  .global__header {
    margin: 0 20px;
  }
}
@media (max-width: 640px) {
  /* line 70, ../scss/_header.scss */
  .global__header {
    margin: 0 10px;
  }

  /* line 73, ../scss/_header.scss */
  .navigation {
    padding-top: 13px;
  }
  /* line 75, ../scss/_header.scss */
  .navigation .navigation__item__icon, .navigation .navigation__item__icon--selected {
    display: none;
  }
}
@media (max-width: 320px) {
  /* line 81, ../scss/_header.scss */
  .global__header {
    margin: 0 10px;
    padding-bottom: 10px;
  }

  /* line 85, ../scss/_header.scss */
  .logo {
    width: 80%;
  }

  /* line 89, ../scss/_header.scss */
  .navigation {
    width: 20%;
    padding-top: 17px;
  }
  /* line 92, ../scss/_header.scss */
  .navigation .navigation__item, .navigation .navigation__item--selected {
    float: right;
  }
  /* line 95, ../scss/_header.scss */
  .navigation .navigation__item__icon, .navigation .navigation__item__icon--selected {
    display: none;
  }
}
/* line 5, ../scss/_resume.scss */
.resume {
  margin: 10px;
}

/* line 8, ../scss/_resume.scss */
.resume__navigation {
  width: 25%;
  display: inline-block;
  border-right: 2px solid gray;
  position: fixed;
  left: 0;
}
/* line 12, ../scss/_resume.scss */
.resume__navigation a {
  color: #1a1a1a;
}
/* line 14, ../scss/_resume.scss */
.resume__navigation a:hover {
  color: #f15a24;
}

/* line 20, ../scss/_resume.scss */
.resume__navigation .selected a {
  color: #f15a24;
}

/* line 24, ../scss/_resume.scss */
.resume__navigation__item {
  font-size: 17px;
  text-align: right;
  line-height: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100%;
  padding-right: 10px;
}

/* line 30, ../scss/_resume.scss */
.resume__exhibitions {
  margin-left: calc(25% + 20px);
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 35, ../scss/_resume.scss */
.resume__exhibitions__header {
  margin-left: calc(25% + 20px);
  display: inline-block;
}

/* line 39, ../scss/_resume.scss */
.resume__exhibitions__header__title {
  color: #f15a24;
  font-size: 41px;
  line-height: 60px;
  font-weight: bold;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/* line 42, ../scss/_resume.scss */
.resume__exhibitions__header__description {
  color: #1a1a1a;
  font-size: 17px;
  line-height: 30px;
  padding-bottom: 27.33333px;
}

/* line 46, ../scss/_resume.scss */
.resume__exhibitions__year {
  color: #f79c7c;
  font-size: 30px;
  line-height: 45px;
}

/* line 49, ../scss/_resume.scss */
.resume__exhibitions__item {
  width: 100%;
  color: #1a1a1a;
}

/* line 53, ../scss/_resume.scss */
.resume__exhibitions__item__type, .resume__exhibitions__item__details, .resume__exhibitions__item__location {
  width: 20%;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
}

/* line 58, ../scss/_resume.scss */
.resume__exhibitions__item__details {
  width: 45%;
}

/* line 62, ../scss/_resume.scss */
.resume__exhibitions__item__location {
  width: 30%;
}

/* line 8, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 13, ../scss/style.scss */
a {
  text-decoration: none;
}
