.global__header{
	border-bottom: 1px $light-gray solid;
	background-color:$white;
	position:fixed; left:0px; top:0;
	z-index:999;
	padding-bottom:$xs;
	width:calc(100% - 40px); 
	margin:0 20px;
	&::before{
		content:"";
		background-color:$white;
		width:20px;
		height:20px;
		position:absolute;
		top:0;
		left:-20px;
	}
	&::after{
		content:"";
		background-color:$white;
		width:20px;
		height:20px;
		position:absolute;
		top:0;
		right:-20px;
	}
	@media (max-width: 720px){
		width:calc(100% - 20px); 
		margin:0 10px;
		&::before{
			width:10px;
			left:-10px;
		}
		&::after{
			width:10px;
			right:-10px;
		}
}



}
.logo{
	display:inline-block;
	float:left;
	@media (max-width: 640px){
		width:100%;
		float:none;
		position:0 auto;
		text-align: center;
	}
}
.logo__name{
	font-family: $serif; font-size: $xxl; font-weight: bold;
	padding: $xs 0 $xs  0;
	a{
		color:$black;
		&:hover{
			color: $red;
		}
	}
	@media (max-width: 900px){
		font-size:$xl;
		padding: $xs 0 $xs/2  0;
	}

}
.logo__tag{
	color:$gray;font-size:$m; font-family: $sans-serif; letter-spacing: 2.3px;
	padding-left:2.3px;
	@media (max-width: 900px){
		font-size:$s;
	}

}
.nav_ul{
	display:inline-block;
}
.global_nav{
	position:absolute; bottom:$xs; right:0;
	float:right;
	@media (max-width: 640px){
		text-align:center;
		position:static;
		float:none;
		margin:0 auto;
	}
}

.nav__item{	  
	float:left;
	display:inline-block;
	margin:0 $s;
}
.nav__icon{
	width: $m;
	display:block; margin:0 auto;
	opacity:0;
	filter:alpha(opacity=0);
	@media (max-width: 900px){
		display:none;
	}
}
.nav__name{
	display:inline-block; vertical-align:middle;
	color:$gray; font-family:$sans-serif; font-size: $s; font-weight:bold;
	&:hover{
		color:$black;
	}
}
.nav__item--selected{	
	.nav__icon{
	@extend .nav__icon;
	opacity:1;
	filter:alpha(opacity=1);
	}
	.nav__name{
	@extend .nav__name;
	color:$red;
	}
}


