.interior{
	background-color:$white;
}
#interior__item__title{
	@extend .portfolio__item__title;
	font-size:$l; text-align:center;text-transform: uppercase;
	padding: $xs 0; padding-top: $xs*2; font-family: $serif; font-weight: bold;
}
#interior__item__data{
	@extend .portfolio__item__data;
	font-size:$m; text-align:center; font-variant: small-caps; font-family: $sans-serif;
	font-weight: 100;
}
#interior__item__image{
	max-width: 100%;
	display:block;
	margin:0 auto;
}
.back{
	position:fixed; top: 2px; right: 2px;
	padding:4px;
	width:$xs*6; height:$xs*6;
	-moz-border-radius: $xs*6;
	-webkit-border-radius: $xs*6;
	border-radius: $xs*6;
	background-color:rgba($white, 0.95); 
	background-image:url('../icon/back_black.svg'); background-position:center; background-repeat:no-repeat;
	&:hover{
		background-color: $gray;background-color:rgba(#f0f0f0, 0.95);
		background-image:url('../icon/back_black.svg');
	}
}
#next{
	position:fixed; top:calc(50% - 40px); right:2px;
	text-align:center; 
	width:$xs*6; height:$xs*6;
	-moz-border-radius: $xs*6;
	-webkit-border-radius: $xs*6;
	border-radius: $xs*6;
	background-color: rgba($white, 0.95);
	background-image:url('../icon/next_black.svg'); background-position:center; background-repeat:no-repeat;
	&:hover{
		background-image:url('../icon/next_black.svg');
		background-color: rgba(#f0f0f0, 0.95);
	}
}
#previous{
	@extend #next;
	left:2px;
	background-image:url('../icon/previous_black.svg'); background-position:center; background-repeat:no-repeat;
	&:hover{
		background-image:url('../icon/previous_black.svg');
	}
}
@media (max-width: 640px){
	.back{
		position:fixed; top: 2px; right: 2px;
		height:$xs*4; width:$xs*4; 
		-moz-border-radius: $xs*4;
		-webkit-border-radius: $xs*4;
	}
	.interior__item__data{
	font-size:$m;
	}
	#next{
		top:calc(50% - 30px); right: 2px;
		height:$xs*4; width:$xs*4; 
		-moz-border-radius: $xs*4;
		-webkit-border-radius: $xs*4;
	}
	#previous{
		top:calc(50% - 30px); left: 2px;
		height:$xs*4; width:$xs*4; 
		-moz-border-radius: $xs*4;
		-webkit-border-radius: $xs*4;
	}
}