.interior{
	background-color:$black;
	&::before{
		content:"";
		width:100%; height:100%;
		background-color:$black;
		position:absolute; top:0; left:0;
		z-index: -3;
	}
}
#interior__item__title{
	color:$gray; font-size:$l; text-align:center;text-transform: uppercase;
	//font-style: italic;
	padding:$xs*2 $xs $xs;
}
#interior__item__data{
	color:$gray; font-size:$m; text-align:center;text-transform:capitalize;
	padding:0 0 $xs 0;
}
#interior__item__image{
	max-width: 100%;
	display:block;
	margin:0 auto;
}
.back{
	position:absolute; top:20px; right:20px;
	padding:4px;
	width:40px; height:40px;
	background-color:rgba(26, 26, 26, 0.8);
	background-image:url('../icon/back_gray.png'); background-position:center; background-repeat:no-repeat;
	&:hover{
		background-color:rgba(26, 26, 26, 1);
		background-image:url('../icon/back_gray.png');
	}
}
#next{
	text-align:center; 
	width:$xxl; height:$xxl*2;
	background-color:rgba(26, 26, 26, 0.8);
	position:fixed; top:calc(50% - 40px); right:20px;
	background-image:url('../icon/next_gray.png'); background-position:center; background-repeat:no-repeat;
	&:hover{
		background-color:rgba(26, 26, 26, 1);
		background-image:url('../icon/next_gray.png');
	}
}
#previous{
	@extend #next;
	background-image:url('../icon/previous_gray.png'); background-position:center; background-repeat:no-repeat;
	left:20px;
	&:hover{
		background-image:url('../icon/previous_gray.png');
	}
}
@media (max-width: 640px){
	.back{
	position:absolute; top:10px; right:10px;
	}
	.interior__item__data{
	font-size:$m;
	}
	#next{
		top:calc(50% - 30px);
		height:$xl*2; width:$xl; 
		right:10px;
	}
	#previous{
		top:calc(50% - 30px);
		height:$xl*2; width:$xl; 
		left:10px;
	}
}