@import "_setting";

#container li {
	opacity: 0;
}

#container li.shown {
	opacity: 1;
}

#container li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	-moz-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}


@-webkit-keyframes fadeIn {
	to { opacity: 1; }
}

@-moz-keyframes fadeIn {
	to { opacity: 1; }
}

@keyframes fadeIn {
	to { opacity: 1; }
}

a{
	color:initial;
}
figcaption{
	position:relative;
}
.portfolio__item{
	float:left;
	background-clip:content-box;
	color:$black;
	line-height: $m;
	&:hover{
		background-color:#f2f2f2;
		figcaption{
			border-bottom:$light-gray 1px solid;
		}
		.portfolio__item__zoom{
			display:initial;
		}
	}
}
.portfolio__item__image{
	width:100%;
	padding:0;
	margin:0;
}
.portfolio__item__zoom{
	position:absolute; top:-30px; right:10px;
	//left:calc(50% - 15px); //center
	display:none;
}
.portfolio__item__title{
	padding:0px 5px; 
	font-size:$m; line-height:$m*2; text-transform: uppercase;
}
.portfolio__item__data{
	padding:0 5px;
	font-size:$m; line-height:$m;font-variant:small-caps;
	span{
		font-size:$s;
	}

}
.portfolio__item__price{
	padding-right:5px;
	font-size: $xs;line-height:$m; text-transform: uppercase; font-style:italic;text-align: right;
}

@media (min-width: 1024px){
	.portfolio{
		padding:10px;
	}
	#container{
		.portfolio__item{
			padding:10px;
			width:calc(100%/4);
		}
	}
}
@media (max-width: 1024px){
	.portfolio{
		padding:10px;
	}
	#container{
		.portfolio__item{
			padding:10px;
			width:calc(100%/3);
		}
	}
}
@media (max-width: 768px){
	.portfolio{
		padding:10px;
	}
	#container{
		.portfolio__item{
			padding:10px;
			width:calc(100%/2);
			.portfolio__item__title{
				font-size:$s;
				line-height:$s;
			}
		}
	}
}
@media (max-width: 640px){
	.portfolio{
		padding:5px
	}
	#container{
		.portfolio__item{
			padding:5px;
			width:calc(100%/1);
		}
	}
	
}
@media (max-width: 320px){
	.portfolio{
		padding:5px
	}
	#container{
		.portfolio__item{
			padding:5px;
			width:calc(100%/1);
		}
	}
}

