//@import "_setting";


#container li {
	opacity: 0;
}

#container li.shown {
	opacity: 1;
}

#container li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	-moz-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}


@-webkit-keyframes fadeIn {
	to { opacity: 1; }
}

@-moz-keyframes fadeIn {
	to { opacity: 1; }
}

@keyframes fadeIn {
	to { opacity: 1; }
}
html{
	background-color:$white;
}
body{
	background-color:$white;
}
a{
	color:initial;
}
figcaption{
	position:relative;
}
.up{
	position:fixed; bottom:70px; right:10px; z-index:999;
	padding:4px; border-radius:3px;
	width:40px; height:40px;
	background-color:rgba(128, 128, 128, 0.8);
	background-image:url('../icon/up_white.png'); background-position:center; background-repeat:no-repeat;
	&:hover{
		background-color:rgba(128, 128, 128, 1);
		background-image:url('../icon/up_white.png');
	}
}
.portfolio__item{
	float:left;
	background-clip:content-box;
	&:hover{
		background-color:#f2f2f2;
		figcaption{
			border-bottom:$light-gray 1px solid;
		}
		.portfolio__item__zoom{
			display:initial;
		}
		.portfolio__item__title, .portfolio__item__data, .portfolio__item__price{
			color:$black;
		}
	}
}
.portfolio__item__image{
	width:100%;
	padding:0;
	margin:0;
}
.portfolio__item__zoom{
	position:absolute; top:-30px; right:$xs;
	//left:calc(50% - 15px); //center
	display:none;
}
.portfolio__item__title{
	padding:$xs;  color:$gray;
	font-size:$m; text-transform: uppercase;
}
.portfolio__item__data{
	padding:0 $xs;  color:$gray; margin-top:-$xs/2;
	font-size:$m; font-variant:small-caps; 
	span{
		font-size:$s;
	}

}
.portfolio__item__price{
	padding:$xs;  color:$gray;
	font-size: $s;line-height:$m; text-transform: uppercase; text-align: right;
}

@media (min-width: 1680px){
	.portfolio__item__title{
		font-size:$l;
		padding:$xs;
	}
	.portfolio__item__data{
		font-size:$l;
		padding:0 $xs; margin-top:-$xs;
	}
	.portfolio__item__price{
		font-size:$m;
		padding:$xs;
	}
}

@media (min-width: 1024px){
	.portfolio, .interior, .resume, #interior__container{
		padding:$xs;
	}
	#container{
		.portfolio__item{
			padding:$xs;
			width:calc(100%/4);
		}
	}
}
@media (max-width: 1024px){
	.portfolio, .interior, .resume, #interior__container{
		padding:$xs;
	}
	#container{
		.portfolio__item{
			padding:$xs;
			width:calc(100%/3);
		}
	}
}
@media (max-width: 768px){
	.portfolio, .interior, .resume, #interior__container{
		padding:$xs;
	}
	#container{
		.portfolio__item{
			padding:$xs;
			width:calc(100%/2);
			.portfolio__item__title{
				//font-size:$s;
			}
		}
	}
}
@media (max-width: 640px){
	.portfolio, .interior, .resume, #interior__container{
		padding:$xs;
	}
	#container{
		.portfolio__item{
			padding:$xs;
			width:calc(100%/1);
		}
	}
	
}
@media (max-width: 320px){
	.portfolio, .interior, .resume, #interior__container{
		padding:$xs;
	}
	#container{
		.portfolio__item{
			padding:$xs;
			width:calc(100%/1);
		}
	}
}

