
body{
	background-color:$white;
}

.resume{
	padding:20px;
	width:100%;
	display:inline-block;
}

.resume__navigation{
	width:25%; display:inline-block; float:right;
	border-right:1px solid $gray;
	margin-top:$xl; 
	background-color:rgba(255,255,255,0.9);
	position:fixed; left:0;
	a{
		color:$gray;
		&:hover{
			color:$black;
		}
	}
}

.resume__navigation__item{
	font-size:$m; text-align:right; letter-spacing: 0.5px; font-family:$sans-serif; font-weight:bold;
	width:100%;
	padding:$xs/2;
}
.resume__navigation__item--selected{
	a{
		color:$red;
	}
}
.resume__container{
	display:inline-block;
	font-family:$sans-serif;
	width:75%; float:right;
	padding-left:$xs*2;
}
.resume__category{
	display:inline-block;
}
.resume__category__header{
	color:$black; font-size:$xl*2; font-weight:bold; font-family:$serif;	
}
.resume__category__description{
	color:$gray; font-size:$m; line-height:$m*1.5;
	padding:$m 0;
}
.exhibition__year{
	color:$gray; font-size:$l; line-height:$xl; font-style:italic;
	border-bottom:1px solid $light-gray; 
}
.sub-title{
	color:$gray; font-size:$m; line-height:$m*1.5; font-style:italic;
	border-bottom:1px solid $light-gray; 
}
.sub-title--private_collection{
	padding-top:$m;
}
.resume__item{
	display:inline-block; 
	width:100%;
	font-size:$m; line-height:$m*1.5; color:$black; letter-spacing:0.5px;
	padding: $s/2 0;
}
.exhibition, .resume__item--collections--private, .galleries, .publications, .teaching{
	margin-bottom:$xl*2;
}
.resume__item--exhibition{
	display:inline-block; 
	width:100%;
	font-size:$s; line-height:$s*1.5; color:$black; letter-spacing:0.5px;
	padding: $s/2 0;
}
.resume__item--list{
	list-style: square outside none;
}
.resume__item--link{
	color:$black;
	font-weight:bold;
	&:hover{
		color:$red;
	}
}

.resume__item--exhibition--type{
	display:inline-block;vertical-align:top;float:left;
	width:25%; 
}
.resume__item--exhibition--details{
	display:inline-block;vertical-align:top;float:left;
	width:50%;
}
.resume__item--exhibition--location{
	display:inline-block;vertical-align:top;float:left;
	width:25%;
	text-align:right;
}


@media (min-width: 1024px){
	.resume__navigation__item{
	font-size:$l; 
	padding:$xs;
	} 
}
@media (max-width: 640px){
	.resume__category__header{
	font-size:$xxl;
	}
	.resume__category__description{
	font-size:$s; line-height:$s*1.5;
	padding:$xs 0;
	}
	.resume__item{
	font-size:$s; line-height:$s*1.5; letter-spacing:0.5px;
	}
	.resume__navigation__item{
	font-size:$s; 
	}
}

@media (max-width: 480px){
	.resume__navigation__item{
	display:none;
	}
	.resume__container{
	margin-left:0; padding-left:0px;
	width:100%;
	}
	.resume__category{
	margin-left:0; padding-left:0px;
	}
}