* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$xs:10px;
$s: 13px;
$m: 17px;
$l: 23px;
$xl: 30px;
$xxl: 41px;

$light-gray:#ccc;
$gray: #858585;
$black:#1a1a1a;
$white:#fff;
$red:#f15a24;

$light-red:#f79c7c;

$serif:Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$sans-serif:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

