
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$xs:10px;
$s: 13px;
$m: 17px;
$l: 23px;
$xl: 30px;
$xxl: 41px;

$light-gray:#ccc;
$gray: #959595;
$black:#575757;
$white:#fff;
$red:#f15a24;

$brown: rgba(149, 123, 22, 1);
$beige: rgba(254, 255, 241, 1);

$light-red:#f79c7c;

$serif: "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$sans-serif:"Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

